.products-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* توزيع تلقائي */
  gap: 20px; /* مسافة بين الكاردات */
  padding: 40px; /* توسيع المساحة حول العناصر */
  background-color: #fcfaf7;
  justify-items: center; /* توسيط الكاردات */
}
.products-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}
.products-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  margin-left: -115px;
}
/* تصميم الكارد */
.product-card {
  background-color: #ffffff;
  border-radius: 12px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 300px; /* حجم مناسب */
  height: 350px; /* ارتفاع مناسب */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  transform: scale(1.06);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* صورة المنتج */
.product-image {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-bottom: 2px solid #ddd;
}

/* اسم المنتج */
.product-name {
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
  color: #333;
  padding: 10px;
  text-align: center;
}
/* عنوان المنتجات */
